/* Reset de estilos para quitar márgenes y rellenos predeterminados */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Estilo para el encabezado principal */
h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #007bff;
}

/* Estilo para la barra de navegación */
nav {
  background-color: #0056b3;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

/* Estilo para las secciones de la aplicación */
section {
  margin: 20px 0;
}

/* Estilo para la lista de productos en Products */
ul {
  list-style: none;
  padding: 0;
}

/* Estilo para los elementos de la lista de productos en Products */
li {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los botones de editar y eliminar en Products */
li button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

li button:hover {
  background-color: #0056b3;
}

/* Estilo para el diálogo de eliminación en Products */
dialog {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilo para los botones dentro del diálogo de eliminación en Products */
dialog button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

dialog button:hover {
  background-color: #0056b3;
}

/* Estilo para el formulario de AddProduct y EditProduct */
form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los campos de entrada en AddProduct y EditProduct */
fieldset {
  border: none;
}

/* Estilo para los botones de agregar y editar en AddProduct y EditProduct */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilo para el pie de página */
footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
}
